$hero-colour: #484848;
$lighter-colour: #8A8A8A;

.poppinsRegular {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-weight: 400;
}
.poppinsMedium {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-weight: 500;
}

.volkhowRegular {
  font-family: 'Volkhov', 'Times New Roman', Times, serif;
  font-weight: 400;
}

.digitalFont {
  font-family: 'Digital Numbers Regular', 'Times New Roman', Times, serif;
}
